.skeletonUsers {
  height: 100px;
  width: 50%;
  background: white;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.skeletonUsers .userinfo {
  width: 100%;
}

.skeletonUsers .name {
  background-color: rgb(170, 170, 170);
  height: 30px;
  width: 50%;
}

.skeletonUsers .date {
  background-color: rgb(192, 192, 192);
  height: 14px;
  width: 90%;
  margin-top: 10px;
}


.skeletonUsers .lockBtn {
  height: 60px;
  width: 60px;
  background: rgb(107, 107, 107);
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skeletonUsers .lockBtn * {
  color: white;
}

.skeletonUsers .lockBtn.locked * {
  color: black;
}

@media only screen and (max-device-width: 920px) {
  .skeletonUsers {
    width: 98%;
  }
}

@media only screen and (max-device-width: 480px) {
  .skeletonUsers h2 {
    font-size: 22px;
  }
}